.list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}
.list__item{
    width: 20%;
    height: 10rem;
    background-color: lightblue;
}

@media screen and (max-width: 767px){
    .list{
       flex-direction: column;
       align-items: stretch;
    }

}

.search{
    width: 500px;
    display: flex;
}
input{

    /* flex-shrink: 1;  /* Ít initial value is one**/
    flex-shrink: 0;
}
button{
    padding: 1.5rem;
    background: lightblue;
}
.user{
    display: flex;
}
img{
    max-width: 100%;
    height: auto;
}
.image{
    width: 200px;
    flex-shrink: 0; /**/
}
.box{
    display: flex;
}
.user{
    width: calc(100% -200px);
}
